@import url('https://fonts.googleapis.com/css?family=Russo+One|Titillium+Web');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// variables
$base-text-size: 16px;
$base-font-family: 'Titillium Web', sans-serif;
$secondary-font-family: 'Russo One', sans-serif;
$full-width: 100%;
$container-width: 800px;
$container-height: 800px;
$theme-color: hsl(228, 8%, 22%);
$theme-font-color: hsl(188, 24%, 88%);
$theme-accent-color: hsl(64, 97%, 51%);


// mixins
@mixin reset-list {
  padding-left: 0;

  li {
    list-style: none;
  }
}

@mixin full-height {
  height: 100%;

  body,
  #root,
  #root > div {
    min-height: 100%;
  }
}

@mixin display-hor-center {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin: 0 auto;
}

@mixin display-hor-spaceA {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

@mixin display-hor-spaceB {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin: 0 auto;
}

@mixin display-vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

// extensions
.wallpaper-fixed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
