@import 'utility';

// .Browse {
//   padding: 95px 0 0;
//   display: flex;
//   flex-direction: column;
//   min-height: 60vh;
// }

.letterArea {
  // margin-top: 100px;
  width: 100%;
  border-top: 15px solid darken($theme-color, 5%);
  border-bottom: 15px solid darken($theme-color, 5%);
  // padding: auto;
}

.letterBar {
  // border-top: 15px solid $theme-color;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  // border-bottom: 3px solid hsl(0, 0%, 38%);
  // width: 100vw;
  // padding-bottom: 15px;
  // margin-bottom: 0;

  li a {
    // padding: 0;
    color:$theme-font-color;
    text-decoration: none;
    margin: 0 2px;

    &:hover {
      color: #fff;
    }
  }
}

.letterSelector {
  display: none;
  justify-content: center;
  margin: 10px auto;
  color: $theme-font-color;

  select {
    background-color: lighten($theme-color, 30%);
    border-radius: 5px;
    font-size: 14px;
    height: 29px;
    width: 268px;

    &:focus {
      outline: 0;
    }
  }

  button {
    background-color: lighten($theme-color, 30%);
    border-radius: 25px;
    box-shadow: none;
    outline: 0;
    margin-left: 1em;
  }
}

@media only screen and (max-width: 505px) {
  .letterArea {
    display: none;
  }

  .letterBar {
    padding: 0;
  }

  .letterSelector {
    display: flex;
  }
}
