@import 'utility';

.Home {
  section {
    box-sizing: border-box;
    padding: 20px;

    .Home-title {
      width: 100%;
      @include display-hor-spaceB;
      align-items: baseline;
      margin-bottom: 10px;
      border-bottom: thick solid darken($theme-color, 10%);

      h2 {
        padding: 0 10px;
        margin: 0;
      }

      a {
        padding: 0 10px;
        text-decoration: none;
        color: inherit;

      }
    }

    .Home-content {
      box-sizing: border-box;
      // overflow-x: auto;
      // want to add scrollable content here
      width: 100%;
      @include display-hor-spaceA;
      padding: 10px;
      border-bottom: thick solid darken($theme-color, 10%);

      .Card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20%;

        .Home-image {
          width: 100%;
          // transition: all 1s ease;

          &:hover {
            // transform: scale(1.9em);
          }

          img {
            border: thin solid transparent;
            box-shadow: 0 0 10px darken($theme-color, 10%);

            &:hover {
              border: 1px solid $theme-accent-color;
              box-shadow: 0 0 10px lighten($theme-color, 30%);
            }
          }
        }

        .Home-info {
          p {
            white-space: nowrap;
            overflow-x: auto;
            margin: 5px 0;
          }

          a {
            text-decoration: none;
            color: inherit;

            &:hover {
              color: $theme-accent-color;
            }
          }

          .Buttons {
            margin: 15px 0 0;
            display: flex;
            display: none;
            justify-content: space-around;
          }
        }
      }

      .Home-review-section {
        border: thin solid darken($theme-color, 10%);

        .Critic {
          border-bottom: thin solid darken($theme-color, 10%);

          a {
            padding: .5em;
            text-decoration: none;
            color: $theme-accent-color;
          }
        }

        .Opinion {
          // border: thin solid darken($theme-color, 10%);
          padding: .5em;
        }
      }
    }
  }

  @media only screen and (max-width: 505px) {
    section {
      .Home-content {
        .Card {
          .Home-info {
            .Buttons {
              display: none;
            }
          }
        }
      }
    }
  }
}
