@import 'utility';
@import 'searchbar';

// Mobile view

aside.menuMobile {
  display: none;

  // width: 100vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(darken($theme-color, 10%), 0.1);
  color: lighten($theme-color, 50%);
  padding: 80px 1em 1em;
  box-shadow: 0 0 20px transparentize($theme-color, 0.5);
  transform: translateX(0);
  transition: transform 200ms ease;

  form {
    input {
      background-color: lighten($theme-color, 10%);
      border: none;
      outline: 0;
      border-radius: 5px;
      width: 100%;
      height: 40px;
      font-size: inherit;
    }
  }

  button {
    // background-color: transparent;
    border: none;
    // color: inherit;
    font-size: inherit;

    &:hover {
      color: $theme-font-color;
    }
  }

  section {
    > ul {
      @include reset-list;

      input {
        background-color: lighten($theme-color, 60%);
        color: $theme-color;
        border: none;
        border-radius: 3px;
      }

      a {
        font-size: 2em;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $theme-accent-color;
        }
      }
    }
  }

  &.hidden {
    transform: translateX(100vw);
    box-shadow: 0 0 0 transparent;
  }

  .Login {
    margin: 15px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .loginAvatar {
      font-size: 2em;
      color: inherit;

      img {
        margin-right: 1em;
        width: 3em;
        border-radius: 25px;
      }
    }

    button {
      border: none;
      outline: 0;
      background-color: transparent;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
    }

    &:hover {
      color: $theme-accent-color;
    }
  }
}

// Desktop view

aside.menuDesktop {
  display: block;

  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
  top: 90px;
  // right: 0;
  // bottom: 0;
  background-color: transparentize(darken($theme-color, 10%), 0.1);
  color: lighten($theme-color, 50%);
  padding: 1em;
  box-shadow: 0 0 20px transparentize($theme-color, 0.5);
  transform: translateY(0);
  transition: transform 200ms ease;

  header {
    text-align: right;
  }

  button {
    // background-color: transparent;
    border: none;
    // color: inherit;
    font-size: inherit;

    &:hover {
      color: $theme-font-color;
    }
  }

  section {
    width: 100%;

    > ul {
      @include display-hor-spaceA;
      @include reset-list;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $theme-accent-color;
        }
      }

      button {
        border: none;
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        font-family: $base-font-family;

        &:hover {
          color: $theme-accent-color;
        }
      }
    }
  }

  &.hidden {
    transform: translateY(-100vw);
    box-shadow: 0 0 0 transparent;
  }
}

@media only screen and (max-width: 505px) {
  aside.menuMobile {
    display: block;
  }

  aside.menuDesktop {
    display: none;
  }
}
