@import 'utility';

.Overlay {
  @extend .overlay-base;

  .inner {
    // height: 60vw;
    width: 55vw;
    background-color: #222;
    padding: 10px;
    box-shadow: 0 0 20px darken($theme-color, 30%);
    display: flex;

    .overlayLeft {
      flex: 1;

      img {
        width: 100%;
        max-width: 400px;
      }

      .userFeatures {
        max-width: 400px;

        .Buttons {
          padding: 5px 20px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;

          button {
            outline: 0;
            background-color: transparent;
            border: none;
            font-size: inherit;
            color: inherit;

            &:hover {
              color: $theme-accent-color;
            }

            &:active {
              color: darken($theme-accent-color, 20%);
            }

            &:disabled {
              color: $theme-accent-color;
            }
          }

          a {
            color: inherit;
            text-decoration: none;

            &:visited {
              color: $theme-accent-color;
            }

            &:hover {
              color: $theme-accent-color;
            }
          }
        }
      }
    }

    .overlayRight {
      padding: 0 0 0 10px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .overlayHeader {
        background-color: darken($theme-color, 5%);
        padding: 5px 5px 10px;

        .Title {
          margin: 0;
          // display: flex;
          // justify-content: flex-start;
          // align-items: baseline;
          padding-bottom: 3px;
          border-bottom: thin solid darken($theme-color, 10%);

          h2 {
            margin: 0;
          }

          p {
            margin: 0 .3em;
          }
        }

        .userPopularity {
          margin-top: .3em;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            color: $theme-font-color;
            text-decoration: none;
            margin: 0 .5em;

            &:hover {
              color: $theme-accent-color;
            }
          }

          button {
            background-color: transparent;
            border: none;
            color: $theme-font-color;
            font-size: inherit;
            cursor: pointer;

            &:focus {
              outline: 0;
            }

            &:hover {
              color: $theme-accent-color;
            }
          }
        }
      }

      .aboutThis {
        flex: 1;
        margin-top: 5px;
        padding: 0 0 0 5px;
        max-height: 600px;
        overflow-y: auto;

        p {
          padding: 0;
          margin: 0;
        }

        form {
          // flex: 1;
          margin: 0 auto 5px;
          padding: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          textarea {
            flex: 1;
            padding: 5px;
            width: calc(100% - 15px);
            background-color: lighten($theme-color, 50%);
            color: darken($theme-font-color, 80%);
            margin: auto;
          }
        }
      }

      .exitOverlay {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        button {
          margin: 0 1em 0 0;
          // margin-left: 1em;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          font-family: inherit;
          font-size: inherit;
          font-variant: small-caps;
          color: $theme-font-color;
        }
        a {
          color: $theme-font-color;
          text-decoration: none;
          font-variant: small-caps;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Overlay {
    .inner {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 505px) {
  .Overlay {
    .inner {
      display: block;
      overflow-y: auto;
      width: 90vw;
      height: 92vh;
      border-bottom: 10px solid #222;
      border-top: 10px solid #222;
      padding-top: 0;
      img {
        width: 100%;
      }
    }
  }
}
