@import 'utility';

.Overlay {
  @extend .overlay-base;

  .inner {
    // height: 60vw;
    width: 80vw;
    max-width: 600px;
    background-color: #222;
    padding: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-start;

    .Review-image {
      min-width: 200px;
      min-height: 300px;
      // border: thick solid red;
      background-image: url('../images/movies/fifth-element.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 15px;
      // flex: 1;

      img {
        width: 100%;
      }
    }

    .Review-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      p {
        border-bottom: 3px solid darken($theme-color, 10%);
      }
      form {
        // flex: 1;
        margin: 0 auto 5px;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        textarea {
          flex: 1;
          padding: 5px;
          width: calc(100% - 15px);
          background-color: lighten($theme-color, 50%);
          color: darken($theme-font-color, 80%);
          margin: auto;
        }
      }

      button {
        margin: 5px;
      }
    }
  }
}
