@import 'utility';

.Reviews {
  h1 {
    margin-left: 1em;
  }
  section {
    box-sizing: border-box;
    padding: 20px;

    .Review-title {
      width: 100%;
      // @include display-hor-spaceB;
      align-items: baseline;
      margin-bottom: 10px;
      border-bottom: thick solid darken($theme-color, 10%);

      h2 {
        padding: 0 10px;
        margin: 0;
      }

      a {
        padding: 0 10px;
        text-decoration: none;
        color: inherit;

      }
    }

    .Review-content {
      // box-sizing: border-box;
      // overflow-x: auto;
      // display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      // width: auto;
      // @include display-hor-spaceA;
      padding: 10px;
      border-bottom: thick solid darken($theme-color, 10%);

      .reviewCard {
        // width: 90vw;
        margin-right: 1em;
        margin-bottom: 1em;

        .review-section {
          width: 90vw;
          max-width: 940px;
          border: thin solid darken($theme-color, 10%);

          .Critic {
            // width: 90vw;
            max-width: 940px;
            padding: 0 .5em;
            // width: 90vw;
            border-bottom: thin solid darken($theme-color, 10%);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .whoWhatWhen {
              flex: 1;

              a {
                text-decoration: none;
                color: $theme-accent-color;
              }
            }

            // a {
            //   text-decoration: none;
            //   color: $theme-accent-color;
            // }

            .approvals {
              // flex: 1;
            }
          }

          .Opinion {
            // border: thin solid darken($theme-color, 10%);
            padding: .5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 505px) {
  .userName {
    flex-direction: column;

    h1, h3, p, a {
      margin: 0 auto 0 5px;
    }

    .desktop-profile-links {
      display: none;
    }
  }
}
