@import 'utility';

.Overlay {
  @extend .overlay-base;

  .inner {
    // height: 60vw;
    width: 80vw;
    background-color: #222;
    padding: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-start;

    .Review-image {
      min-width: 200px;
      min-height: 300px;
      // border: thick solid red;
      background-image: url('../images/movies/fifth-element.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 15px;
      // flex: 1;

      img {
        // width: 50%;
      }
    }

    .Review-info {
      // flex: 1;
    }
  }
}
