@import 'utility';
@import 'header';
@import 'logo';
@import 'menu';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: lighten($theme-color, 50%);
  color: $theme-font-color;

  @include display-hor-center;
}

.App{
  background-color: $theme-color;
  max-width: 1000px;
  width: 100vw;
  overflow-x: hidden;
  border-left: thin solid darken($theme-color, 10%);
  border-right: thin solid darken($theme-color, 10%);
  // min-width: 400px;
}

.Home {
  padding-top: 100px;
  // height: 80vh;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 505px) {

  .Home {
    padding-top: 70px;
  }
}
