@import 'utility';
@import 'header';
@import 'logo';
@import 'menu';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: lighten($theme-color, 50%);
  color: $theme-font-color;

  @include display-hor-center;
}

.App{
  background-color: $theme-color;
  max-width: 1000px;
  width: 100vw;
  overflow-x: hidden;
  border-left: thin solid darken($theme-color, 10%);
  border-right: thin solid darken($theme-color, 10%);
  // min-width: 400px;
}

.Home,
.Chat,
.Profile,
.Reviews,
.WatchList,
.Vault,
.LogIn {
  padding: 140px 10px 0;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.Browse {
  padding: 95px 0 0;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.letterArea {
  // margin-top: 100px;
  width: 100%;
  border-top: 15px solid darken($theme-color, 5%);
  border-bottom: 15px solid darken($theme-color, 5%);
  // padding: auto;
}

.letterBar {
  // border-top: 15px solid $theme-color;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  // border-bottom: 3px solid hsl(0, 0%, 38%);
  // width: 100vw;
  // padding-bottom: 15px;
  // margin-bottom: 0;

  li a {
    // padding: 0;
    color:$theme-font-color;
    text-decoration: none;
    margin: 0 2px;

    &:hover {
      color: #fff;
    }
  }
}

.ComingSoon {
  @include display-hor-center;
  align-items: baseline;
  img {
    margin-left: 20px;
    animation: rotate-center 1.5s linear infinite both;

    @keyframes rotate-center {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 505px) {

  .Home,
  .Chat,
  .Browse,
  .Profile,
  .Reviews,
  .WatchList,
  .Vault,
  .LogIn {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
  }

  .letterBar {
    padding: 0;
  }
}
