@import 'utility';
@import 'header';
@import 'logo';
@import 'menu';
@import 'comingsoon';
@import 'browse';
@import 'profile';
@import 'vault';
@import 'home';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: lighten($theme-color, 50%);
  color: $theme-font-color;

  @include display-hor-center;
}

.App{
  background-color: $theme-color;
  max-width: 1000px;
  width: 100vw;
  overflow-x: hidden;
  border-left: thin solid darken($theme-color, 10%);
  border-right: thin solid darken($theme-color, 10%);
  box-shadow: 0 0 10px darken($theme-color, 10%);
  display: flex;
  flex-direction: column;
  // min-width: 400px;
}

main {
  flex: 1;

}

.Home,
.Browse,
.Chat,
.Profile,
.Reviews,
.WatchList,
.Vault,
.Dashboard {
  padding: 145px 0 0;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
  height: 100%;
}

footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  .footer-space-1 {
    display: flex;
    justify-content: center;

    div {
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width: 505px) {

  .Home,
  .Chat,
  .Browse,
  .Profile,
  .Reviews,
  .WatchList,
  .Vault,
  .LogIn {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
  }
}
