@import 'utility';

.Users {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .profileCard {
    width: 80vw;
    margin: 1em;
    padding: 0;
    border: thin solid black;
    border-radius: 3px;
    display: flex;
    box-shadow: 0 0 12px lighten($theme-color, 10%);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 8px lighten($theme-accent-color, 10%);
      animation: flicker 3s linear infinite;
    }

    .image {
      margin: 0;
      padding: 0;
      img {
        margin: .3em .3em 0 .3em;
        width: 20vw;
      }
    }

    .info {
      flex: 1;
      margin: 10px 0 0 10px;

      .userName {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin: 0 0 10px 0;
          color: $theme-accent-color
        }

        p {
          margin: 0;
          padding-right: 1.5em;
          // font-size: 1.5em;
        }
      }

      .userInfo {
        margin-bottom: 1em;

        p {
          margin: 0;
        }
      }
    }
  }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    box-shadow: 0 0 8px lighten($theme-accent-color, 10%);
		// opacity: .99;
		// text-shadow: -1px -1px 0 hsla(0, 0%, 100%, 0.4), 1px -1px 0 hsla(0, 0%, 100%, 0.4), -1px 1px 0 hsla(0, 0%, 100%, 0.4), 1px 1px 0 hsla(0, 0%, 100%, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    box-shadow: 0 0 2px lighten($theme-accent-color, 30%)
		// opacity: 0.4;
		// text-shadow: none;
	}
}

@media only screen and (max-width: 505px) {
  .Users {
    .profileCard {
      flex-direction: column;
      align-items: center;

      .image {
        img {
          width: 70vw;
        }
      }
    }
  }
}
